.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Body da pagina */
body{
    margin: 0;
    border: 0;
    font-family: 'Tahoma', 'Arial'; /*fonte principal tahoma e se não tiver arial */
    background: linear-gradient(rgb(14, 14, 14));

}


/*Header */
header{
    background-color: rgb(4, 4, 22);
    padding: 20px 0 20px 10px;
}

.logo{
    width: 7%;
}

.divHeader{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;
}

/*Menu padrão*/
nav.menu ul{
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: arial;
    font-size: 35px;
    margin: 0;
    padding: 0;
}

nav.menu li a{
    color: white;
    text-decoration: none;
}

/*Botão hamvurguer*/
.menu-toogle {
    display: none;
    font-size: 40px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/*Responsivo*/
@media (max-width: 768px){
    header {
        padding: 20px;
    }

    .logo{
        width: 40%;
    }

    .menu-toogle{
        display: block;
    }

    nav.menu{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: black;
        width: 100%;
        text-align: center;
        z-index: 10;
    }

    nav.menu.ativo{
        display: block;
    }
    
    nav.menu ul {
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
    }

    nav.menu li{
        font-size: 28px;
    }
}

/* Menu*/
nav{
    color: white;
    font-size: 28;
    right: 100px;
    top: 40px;
    position: absolute;
    font-size: larger;

}

nav li{
    display: inline;
    margin-right: 50px;
}

/*Banner*/
.banner{
    width: 100%;
    height: 50vh;
    object-fit: cover ;
    object-position: center center;
    display:block;
}
.dbanner{
    width: 100%;
}

/*Sobre nós*/
.img_sobrenos{
    width: 20%;
    float: left; /*Deixa o texto ao lado*/
    margin-right: 20px;
}

.title_sobreNos{
    clear: left;
    text-align: center;
    color: white;
}
.sobre_nos{
    color: white;
    width: 70%;
    margin-left: 15%;
    text-align: justify;
}
.sobre_nos p{
    padding-bottom: 10%;
}

/*Localização*/
.loc{
    text-align: center;
    color: white;
}


/*Servicos*/
.title_servicos{
    text-align: center;
    font-size: large;

}

.servicos{
    text-align: center;
    font-size: large;
}

/*Nossos serviços */

.div_nossosprodutos{
    width: 70%;
    margin-left: 40%;
}

.titulo_sobrenos{
    text-align: center;
    color: white;
}

.lista_nossosprodutos{
    width: 20%;
    vertical-align: top;
    list-style: none;
    text-align: center  ;
    color: white;
}
.lista_nossosprodutos li{
    line-height: 3;
}
.lista_nossosprodutos li:before{
    content: "->";
}

.video{
 
    text-align: center;
}

/*Rodapé*/
.logo_baixo{
    width: 5%;
    padding-left: 20px;
}

footer p{
    display: inline-block;
    width: 35%;
    text-align: right;
    font-size: 20px;
    
}


.rodape{
    background-color: (4, 4, 22);
    font-weight: bold;
    color:white;
    
}